[submodule "src/handlers/envelope"]
	path = src/handlers/envelope
	url = https://github.com/newbie-learn-coding/convert-envelope.git
[submodule "src/handlers/qoi-fu"]
	path = src/handlers/qoi-fu
	url = https://github.com/newbie-learn-coding/convert-qoi-fu.git
[submodule "src/handlers/sppd"]
	path = src/handlers/sppd
	url = https://github.com/newbie-learn-coding/convert-sppd.git
[submodule "src/handlers/qoa-fu"]
	path = src/handlers/qoa-fu
	url = https://github.com/newbie-learn-coding/convert-qoa-fu.git
[submodule "src/handlers/image-to-txt"]
	path = src/handlers/image-to-txt
	url = https://github.com/newbie-learn-coding/image-to-txt.git
[submodule "src/handlers/espeakng.js"]
	path = src/handlers/espeakng.js
	url = https://github.com/newbie-learn-coding/convert-espeakng-js.git
